.navbar {
    min-height: 50px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-top: 3px;
    
        .navbarBrand {
            height: 50px;
            font-size: 18px;
            line-height: 20px;
            > img {
                display: block;
                object-fit: contain;
            }
        }

        .navbarHeader {
            padding: 0 15px;
            display: flex;
            flex-wrap: inherit;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        .navbarHamburger {
            background-color: #111 !important;
            padding: 9px 10px;
            box-shadow: unset;
            border-radius: 3px;
            .srOnly {
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;
            }
            .iconBar {
                width: 22px;
                transition: all .2s;
                background: #fff;
                display: block;
                height: 2px;
                border-radius: 1px;
            }
            .iconBar:not(:last-child){
                margin-bottom: 4px;
            }
        }

        .closeIcon {
            background-color: transparent;
            box-shadow: unset;
            border-radius: 3px;
            display: block;
            border: none;
            .srOnly {
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;
            }
            .iconBar {
                display: block;
                width: 22px;
                height: 2px;
                border-radius: 1px;
                 transition: all .2s;
                 background-color: #FFF;
                &.topBar {
                    transform: rotate(45deg);
                    transform-origin: 10% 10%;
                    width: 22px;
                    transition: all .2s;
                    background-color: #fff;
                    height: 2px;
                    border-radius: 1px;
                    display: block;
                }
                &.middleBar {
                    margin-top: 4px;
                    opacity: 0;
                }
                &.bottomBar {
                    margin-top: 4px;
                    transform: rotate(-45deg);
                    transform-origin: 10% 90%;
                    -ms-transform: rotate(-45deg);
                    -ms-transform-origin: 10% 90%;
                    -webkit-transform: rotate(-45deg);
                    -webkit-transform-origin: 10% 90%;
                }
            }
            
        }
       
        

       
    :global {
        .container-fluid {
            padding: 0;
        }
        .navbar-expand-lg {
            .nav-link {
                padding: none;
            }
        }
    }
    .menu {
        margin-right: -8px;
        padding-top: 15px;
    }
    .link {
        color: #ccc !important;
        font-size: 80%;
        font-weight: 600;
        padding: 25px 15px 10px 15px;
        outline: none !important;
        :visited {
            color: #ccc !important;
        }
        &:hover {
            color: #FFF !important;
        }
        :focus {
            outline: unset !important;
        }
        &::after {
            display: none;
        }
    }
    .navItem:hover {
        .show {
            display: block;
            border-top: 1px solid #fff;
            margin-top: 0;
            padding-top: 0;
            left: 0;
            padding-bottom: 0;
            margin-bottom: 0;
            > li {
                border-bottom: 1px solid rgba(0,0,0,.15);
                border-top: 1px solid rgba(255,255,255,.15);
                background-color: #333;
                > a {
                    padding: 4px 20px;
                    background-color: transparent;
                    color: #fff !important;    
                    display: block;
                    clear: both;
                    font-weight: 400;
                    line-height: 1.42857143;
                    color: #333;
                    white-space: nowrap;
                    font-size: 85%;
                    cursor: pointer;
                    
                }
                > .bluelink:hover {
                    transition: all .5s;
                    padding-left: 25px;
                    background-color: #14689b;
                    color: #fff;
                    border-bottom: 2px solid #ccc;
                }
                > .greenlink:hover {
                    transition: .5s;
                    padding-left: 25px;
                    background-color: #0bbd53;
                    color: #fff;
                    border-bottom: 2px solid #ccc;
                }
                > .orangelink:hover {
                    transition: .5s;
                    padding-left: 25px;
                    background-color: #e3a159;
                    color: #fff;
                    border-bottom: 2px solid #ccc;
                }
                :hover {
                    border-color: #337ab7;
                }
            }
        }
    }

    .navlist {
        transition: height .5s;
    }
}

@media (min-width: 992px) {
    .link {
        padding: 15px 15px 10px 15px !important;
    }
}
@media (max-width: 767px) {
    .navbarBrand {
        margin-left: 0px;
        padding-top: 12px !important;
        > img {
            width: 70px;
        }
    }
    .show {
        margin-left: 20px;
    }
}

@media (max-width: 991px) {
    .menu {
        margin: 7.5px -15px !important;
    }
    .link {
        padding: 15px 15px !important;
        font-size: 14px !important;
        font-weight: 600 !important;
    }
    .navbar {
        padding-bottom: 0;
    }
    .navlist {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
        transition: background-color ;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
            .navbarBrand {
                float: left;
                font-size: 18px;
                height: 66px;
                line-height: 0;
                padding: 5px 5px 5px 15px;
                margin-left: -45px;
                 > img {
                    height: 100% !important;
                }
            }
    }
    .link {
        padding: 15px 15px !important;
        font-size: 14px !important;
        font-weight: 600 !important;
    }
    .show {
        margin: 0 0 15px 3%;
        width: 98%;
        border-top: unset !important;
    }
}