@import '../../../assets/scss/abstracts/abstracts';

.footer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #333;
  .foot1 {
    background-color: #333;
    color: #fff;
    padding: 30px;

    .footerImage {
      max-width: 75%;
    }
    .contactContainer {
      padding-left: 15px;
      padding-right: 15px;
      .contactUsTxt {
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 18px;
        margin-top: 10px;
        line-height: 1.1;
      }
      .address {
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 1.42857143;
      }
    }
    .rdpartfoot {
      margin-top: 13px;
      padding-left: 30px;
      a {
        margin: 0 0 10px;
        font-size: 14px;
        line-height: 1.42857143;
        display: block;
        text-decoration: none;
        color: #FFF;
        outline: none;
        cursor: pointer;
        &:hover {
          color: rgb(147, 147, 222)
        }
        > svg {
          margin-top: -2px;
        }
      }
    }
    .translationlink {
      margin-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
      p {
        margin: 0 0 10px;
        a {
          color: #fff;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
  
}

.foot2 {
  background-color: #101010;
  color: #fff;
  padding: 10px 10px 4px;
  .footer2 {
    .containerfluid {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        p {
          margin: 0 0 10px;
          font-weight: 400;
          font-size: 14px;
          line-height: 1.42857143;
        }
        ul {
          list-style-type: circle;
          padding-left: 15px;
          li {
            ::before {
              content: "\2022";
              color: #FFF;
              font-weight: bold;
              display: inline-block; 
              width: 1.5em;
              margin-left: -1em;
            }
            a {
              color: #fff;
              text-decoration: none;
              font-size: 14px;
            }
          }
        }
      }
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    padding: 0;

    .foot1 {
      background-color: #333;
      color: #fff;
      padding-left: 2px;
    }
  }
  .containerfluid {
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  .rdpartfoot {
    margin-top: 13px;
    padding-bottom: 20px;
    padding-left: 30px;
  }
}